@charset "utf-8";
/* CSS Document */
/*清除网页中个标签的默认属性*/
html { }
*html { background-image:url(about:blank); background-attachment:fixed;}
* { margin:0px; padding:0;}
body { font:12px/1.75 'Microsoft YaHei', NSimSun, SimSun, arial, Helvetica, sans-serif; color:#6a6a6a;}/*字间距letter-spacing:Xpx;*/
sup { vertical-align:text-top;}
sub { vertical-align:text-bottom;}
textarea { overflow:auto;}
table { font-size:inherit; border-collapse:collapse; border-spacing:0;}
a:link, a:visited { text-decoration:none; color:#6a6a6a;}
a:hover, a:active { text-decoration:underline; color:#6a6a6a;}
a:focus { outline:0;}
fieldset, img { border:0;}
a img { border:none;}
a:link img { border:none;}
a:hover img { border:none;}
ul, li { list-style:none;}
q:before, q:after, blockquote:before, blockquote:after {content:"";}
input { overflow:visible;}
/*关于浮动的样式定义*/
.clear{ clear:both; height:0px; overflow:hidden; display:block;}
.fl { float:left;}
.fr { float:right;}
.clearfix:after { content:"."; display:block; height:0px; clear:both; visibility:hidden;}
.clearfix { display:inline-block;}
/* Hides from IE-mac \*/
	* html .clearfix { height:1%;}
.clearfix { display:block;}
/* End hide from IE-mac */

/*关于标题的定义*/
h1, h2, h3, h4, h5, h6, th { font-weight:normal;}
/*其他通用定义*/
.none { display:none;}
.inline{ display:inline;}
.block { display:block;}
.inl-blk { display:inline-block;}
.underline { text-decoration:underline;}
.break-word { word-wrap:break-word;}
.alg-cen{ text-align:center}
.ver-mid{ vertical-align:middle;}
.relative { position:relative;}
.absolute { position:absolute;}
.hidden { visibility:hidden;}
hr { color:#ff9330;}
.bold { font-weight:bold;}
.normal { font-weight:normal;}
.pointer { cursor:pointer;}
.indent2 { text-indent:2em;}
/*字的定义*/
.f12 { font-size:12px;} /*12px*/
.f14 { font-size:14px;}/*14px*/
.f16 { font-size:16px;}/*16px*/
.f18 { font-size:18px;}/*18px*/
.f20 { font-size:20px;}/*20px*/
.f24 { font-size:24px;}/*24px*/
.f700 { font-weight:700;}
.f400 { font-weight:400;}
/*关于字颜色的定义*/
.gray { color:#666666;}
.red { color:#ff0000;}
.black { color:#000000;}
.white { color:#ffffff;}
.purple { color:#ff00ff;}
.yellow { color:#ffff00;}
.orange { color:#ff6c00;}
.green { color:#00ff00;}
.blue { color:#0000ff;}
.pink { color:#6600ff;}
/*内边距的定义*/
.pb10{ padding-bottom:10px;}
.pt20{ padding-top:20px;}
.pt30{ padding-top:30px;}
/*外边距的定义*/
.mt5{ margin-top:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mb30{ margin-bottom:30px;}
.mt35{ margin-top:35px;}
.mt45{ margin-top:45px;}
.ml45{ margin-left:45px;}
/*other*/

























